*:focus {
  outline: none;
}
.grid {
  margin-top: 1em;
  width: 70vw;
  height: 77vh;
  border: solid 2px var(--first);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search {
  text-align: center;
  color: #fff;
  opacity: 100%;
  background-color: transparent;
  border: none;
  padding: 1em;
  cursor: pointer;
  margin-top: 0.5em;
}

.cardgrid {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
  padding: 1em 2em;
}
.cardgrid > * {
  margin: 5px;
}

.card {
  cursor: pointer;
  height: 200px;
  width: 250px;
}
.cardimg {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.cardimg:hover {
  opacity: .3;
}
.showsite{
  position: relative ;
  left: 6em;
  top: -6em;
  opacity: 0;
 
}
.cardimg:hover .showsite {
  opacity: 1;
  content: 'visite';
}
.card-info {
  width: 240px;
}
@media screen and (width < 1111px) {
  .cardimg {
   
    width: 240px;
    object-fit: cover;
  }
}
@media screen and (width < 800px) {
  .grid {
    margin-top: 2em;
    width: 90vw;
    height: auto;
    
  }
  .cardgrid {
    overflow-y: scroll;
    padding: 0.5em;
  }
  .card {
    cursor: pointer;
    height: 250px;
    width: 300px;
  }
  .cardimg {
    height: 190px;
    width: 300px;
    object-fit: cover;

  }
  .card-info {
    width: 200px;
  }
}
