.media{
    width: 20rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.Media-title{
    font-weight: 900;
    font-size: 30px;
    text-align: start;
    text-align: center;
    line-height: 1em;
}

.media-text{
    font-weight: 100;
    width: 35ch;
    text-align: start;
    line-height: 2em;
}
.medias-contact{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
}

.mediael{
 width: 35px;
 height: 35px;
 cursor: pointer;
 opacity:.5;
}
.mediael:hover{
   opacity:1;
}