.navbar{
    width: 70vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-list{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1.5em;
    list-style: none;


}
.navbar-list-item {
    cursor: pointer;
    text-transform: uppercase;
}

.navbar-logo{
    width: 40px;
    height: 40px;
    object-fit:contain;
    border-radius: 30%;
    border: solid 6px var(--first);
}

.navbar-list-phone{
position: absolute;
top: -1em;
right: 0em;
height: 100vh;
width: 50vw;
background-color: rgba(239, 239, 238, 0.89);
list-style: none;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
z-index: 99;

}
.navbar-list-item-phone{
  border-bottom: solid 2px  var(--first);
  padding: 2em;

  
}
.Itemph{
  color: var(--second);
}
.Hamburger{
 width: 40px;
 cursor: pointer;
}
.HamburgerCl{
  position: absolute;
  top: 1.4em;
  right: 1.5em;
  cursor: pointer;
  animation:backwards;
  animation-duration: 4s;
  animation-delay: 2s;
}

.list-phone{
  margin-top: 6em;
}






@media only screen and (max-width: 800px) {
    .navbar{
        width: 90vw;
        height: 80px;
    }
    .navbar-logo{
      position: absolute;
      top: 1em;
      left: 1em;
    }
}
@media only screen and (max-width: 500px) {
    .hamburger{
        display: block;
    }
}



/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}